.btn
{
	color: primary;
}

.body
{
	background-color: aliceblue;
}

.flight:hover
{
	background:#fff;
	color: #000;
	transition: 0.5s;
}

footer
{
text-align: center;
  padding: 3px;
  background-color: aliceblue;
  color: black;
}

.fa-user-graduate
{
	color: black;
}
