.btn
{
	color: primary;
}

.fa-check-circle
{
	color: limegreen;
}
.list-group{
	color: grey;
}

.card-text
{
	font-style: italic;
}

footer
{
text-align: center;
  padding: 3px;
  background-color: aliceblue;
  color: black;
}

.fa-user-graduate
{
	color: black;
}
